/*
*Name:BirTV-采访任务
*CreationTime:2017-08-02
*Author:sunxin
*/
@font-face {
	font-family: "BGOTHM";
	src: url("../font/BGOTHM.TTF");
}
html{
	width: 100%;
	height: 100%;
	overflow: hidden;
	min-height: 1080px;
}
body{
	width: 1920px;
	height: 100%;
	background: url(../imgs/interviewTask/bg_new.jpg) no-repeat;
	background-size: 100% 100%;
	-webkit-animation: bgImg 40s linear infinite;
	-moz-animation: bgImg 40s linear infinite;
	-ms-animation: bgImg 40s linear infinite;
	animation: bgImg 40s linear infinite;
}
@-webkit-keyframes bgImg{
	0%{background-size: 100% 100%;}
	50%{background-size: 120% 120%;}
	100%{background-size: 100% 100%;}
}
@-moz-keyframes bgImg{
	0%{background-size: 100% 100%;}
	50%{background-size: 120% 120%;}
	100%{background-size: 100% 100%;}
}
@-ms-keyframes bgImg{
	0%{background-size: 100% 100%;}
	50%{background-size: 120% 120%;}
	100%{background-size: 100% 100%;}
}
@keyframes bgImg{
	0%{background-size: 100% 100%;}
	50%{background-size: 120% 120%;}
	100%{background-size: 100% 100%;}
}
.header{
	margin-top: 40px;
	height: 95px;
	background: url(../imgs/topicPlan/title_bg.png) no-repeat;
}
.header h1{
	font-size: 48px;
	font-family: "宋体";
	font-weight: bold;
	font-style: italic;
	color: #fff;
	line-height: 108px;
	float: left;
	margin-left: 844px;
	width: 370px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.section{
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.container{
	margin-top: 80px;
	overflow: visible;
}
.task-schedule{
	width: 511px;
	height: 807px;
	float: right;
	background: url(../imgs/interviewTask/list_bg2.png) no-repeat;
	background-size: 100% 100%;
	margin-right: 60px;
	padding: 30px 0;
	overflow: visible;
	margin-top: 30px;
}
.schedule-move{
	position: absolute;
	left: -2px;
	top: 220px;
	-webkit-transition: 0.6s ease-in-out;
	-moz-transition: 0.6s ease-in-out;
	-ms-transition: 0.6s ease-in-out;
	transition: 0.6s ease-in-out;
}
.schedule-box{
	padding: 20px 80px;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	transition: 0.5s ease;
}
.schedule-box h2{
	font-size: 36px;
	color: #00ffff;
	margin-bottom: 10px;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	transition: 0.5s ease;
}
.schedule-box p{
	font-size: 24px;
	width: 100%;
}
.schedule-box span{
	color: #baffff;
	margin-right: 20px;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	transition: 0.5s ease;
}
.task-img{
	padding-top: 30px;
}
.task-img img{
	float: left;
	width: 48%;
	margin-right: 1%;
	margin-bottom: 5px;
}
.schedule-box.active{
	background: url(../imgs/interviewTask/checked.png) no-repeat;
	background-position: 20px 0;
}
.schedule-box.active span,.schedule-box.active h2{
	text-shadow: 0 0 100px #fff;
}
.task-turntable{
	overflow: visible;
	width: 1165px;
	height: 895px;
	float: left;
	margin-left: 110px;
}
.liuxing{
	position: absolute;
	left: -30px;
	top: 0;
	z-index: 10;
	-webkit-animation: liuxing 4s linear infinite;
	-moz-animation: liuxing 4s linear infinite;
	-ms-animation: liuxing 4s linear infinite;
	animation: liuxing 4s linear infinite;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	opacity: 0;
	filter: alpha(opacity=0);
}
@-webkit-keyframes liuxing{
	0%{opacity: 0;-webkit-transform: scale(0);}
	50%{opacity: 1;-webkit-transform: scale(1.5);}
	100%{opacity: 0;-webkit-transform: scale(3);}
}
@-moz-keyframes liuxing{
	0%{opacity: 0;-moz-transform: scale(0);}
	50%{opacity: 1;-moz-transform: scale(1.5);}
	100%{opacity: 0;-moz-transform: scale(3);}
}
@-ms-keyframes liuxing{
	0%{opacity: 0;-ms-transform: scale(0);}
	50%{opacity: 1;-ms-transform: scale(1.5);}
	100%{opacity: 0;-ms-transform: scale(3);}
}
@keyframes liuxing{
	0%{opacity: 0;transform: scale(0);}
	50%{opacity: 1;transform: scale(1.5);}
	100%{opacity: 0;transform: scale(3);}
}
.liuxing:nth-of-type(2){
	-webkit-animation: liuxing2 4s linear 1s infinite;
	-moz-animation: liuxing2 4s linear 1s infinite;
	-ms-animation: liuxing2 4s linear 1s infinite;
	animation: liuxing2 4s linear 1s infinite;
}
@-webkit-keyframes liuxing2{
	0%{opacity: 0;-webkit-transform: scale(0);}
	50%{opacity: 1;-webkit-transform: scale(1.5);}
	100%{opacity: 0;-webkit-transform: scale(3);}
}
@-moz-keyframes liuxing2{
	0%{opacity: 0;-moz-transform: scale(0);}
	50%{opacity: 1;-moz-transform: scale(1.5);}
	100%{opacity: 0;-moz-transform: scale(3);}
}
@-ms-keyframes liuxing2{
	0%{opacity: 0;-ms-transform: scale(0);}
	50%{opacity: 1;-ms-transform: scale(1.5);}
	100%{opacity: 0;-ms-transform: scale(3);}
}
@keyframes liuxing2{
	0%{opacity: 0;transform: scale(0);}
	50%{opacity: 1;transform: scale(1.5);}
	100%{opacity: 0;transform: scale(3);}
}
.liuxing:nth-of-type(3){
	-webkit-animation: liuxing3 4s linear 2s infinite;
	-moz-animation: liuxing3 4s linear 2s infinite;
	-ms-animation: liuxing3 4s linear 2s infinite;
	animation: liuxing3 4s linear 2s infinite;
}
@-webkit-keyframes liuxing3{
	0%{opacity: 0;-webkit-transform: scale(0);}
	50%{opacity: 1;-webkit-transform: scale(1.5);}
	100%{opacity: 0;-webkit-transform: scale(3);}
}
@-moz-keyframes liuxing3{
	0%{opacity: 0;-moz-transform: scale(0);}
	50%{opacity: 1;-moz-transform: scale(1.5);}
	100%{opacity: 0;-moz-transform: scale(3);}
}
@-ms-keyframes liuxing3{
	0%{opacity: 0;-ms-transform: scale(0);}
	50%{opacity: 1;-ms-transform: scale(1.5);}
	100%{opacity: 0;-ms-transform: scale(3);}
}
@keyframes liuxing3{
	0%{opacity: 0;transform: scale(0);}
	50%{opacity: 1;transform: scale(1.5);}
	100%{opacity: 0;transform: scale(3);}
}
.task-center{
	position: absolute;
	width: 554px;
	height: 497px;
	left: 296px;
	top: 144px;
	background: url(../imgs/interviewTask/before.png) no-repeat;
	z-index: 100;
	-webkit-transition: 1s ease;
	-moz-transition: 1s ease;
	-ms-transition: 1s ease;
	transition: 1s ease;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
.line-bg{
	position: absolute;
	top: -50px;
	left: -450px;
	z-index: 99999;
	-webkit-transform-origin: 85% 80px;
	-moz-transform-origin: 85% 80px;
	-ms-transform-origin: 85% 80px;
	transform-origin: 85% 80px;
	-webkit-transition: 0.6s ease;
	-moz-transition: 0.6s ease;
	-ms-transition: 0.6s ease;
	transition: 0.6s ease;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.line-bg.active{
	-webkit-transform: rotateY(90deg);
	-moz-transform: rotateY(90deg);
	-ms-transform: rotateY(90deg);
	transform: rotateY(90deg);
	opacity: 0;
}
.task-turn{
	position: absolute;
	width: 1149px;
	height: 1149px;
	background: url(../imgs/interviewTask/img8.png) no-repeat;
	top: -160px;
	left: -15px;
	z-index: 99999;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: 1s ease-out;
	-moz-transition: 1s ease-out;
	-ms-transition: 1s ease-out;
	transition: 1s ease-out;
}
.task-turn.active{
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	opacity: 0;
	filter: alpha(opacity=0);
}
.task-box{
	width: 1164px;
	height: 893px;
	position: absolute;
	top: -37px;
	left: -11px;
}
.turntable-box{
	position: absolute;
	width: 317px;
	height: 228px;
	background: url(../imgs/interviewTask/img_bg1.png) no-repeat;
	-webkit-transition: 1s ease-out;
	-moz-transition: 1s ease-out;
	-ms-transition: 1s ease-out;
	transition: 1s ease-out;
	z-index: 99999;
	padding: 8px;
	left: 424px;
	top: 325px;
	opacity: 0;
}
/*.turntable-box:nth-of-type(1){
	top: 1px;
	left: 423px;
}
.turntable-box:nth-of-type(2){
	top: 172px;
	left: 834px;
}
.turntable-box:nth-of-type(3){
	top: 501px;
	left: 834px;
}
.turntable-box:nth-of-type(4){
	top: 665px;
	left: 424px;
}
.turntable-box:nth-of-type(5){
	top: 501px;
	left: -12px;
}
.turntable-box:nth-of-type(6){
	top: 177px;
	left: -12px;
}*/
.task-center-box{
	width: 480px;
	height: 371px;
	top: 78px;
	left: 27px;
	position: absolute;
	padding: 50px 20px 20px 30px;
}
.turntable-txt{
	height: 100%;
	box-shadow: 0 0 10px #fff;
	padding: 10px 10px 10px 30px;
	opacity: 0.6;
	filter: alpha(opacity=60);
}
.turntable-txt h3{
	font-size: 18px;
	color: #ffef1b;
	font-family: "BGOTHM";
	width: 100%;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.turntable-txt > span{
	width: 102px;
	height: 4px;
	float: left;
	background: url(../imgs/interviewTask/img_bg2.png);
	margin-top: 6px;
}
.turntable-txt .turntable-p{
	font-size: 24px;
	color: #fff;
	line-height: 30px;
	margin-top: 6px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	width: 100%;
	float: left;
}
.turntable-mesg{
	height: 80px;
	background: url(../imgs/interviewTask/img7.png) no-repeat;
	float: left;
	margin-top: 10px;
	padding-left: 40px;
}
.turntable-mesg p{
	font-size: 18px;
	width: 100%;
	float: left;
	color: #fff;
	line-height: 27px;
}
.turntable-box.active{
	background: url(../imgs/interviewTask/img_bg1_a.png) no-repeat;
}
.turntable-box.active .turntable-txt{
	opacity: 1;
	filter: alpha(opacity=100);
}
.turn-light{
	position: absolute;
	top: -95px;
	left: 250px;
	z-index: 99999;
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-animation: light 1.5s linear infinite;
	-moz-animation: light 1.5s linear infinite;
	-ms-animation: light 1.5s linear infinite;
	animation: light 1.5s linear infinite;
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
}
@-webkit-keyframes light{
	0%{opacity: 0.5;filter: alpha(opacity=50);}
	50%{opacity: 1;filter: alpha(opacity=100);}
	100%{opacity: 0.5;filter: alpha(opacity=50);}
}
@-moz-keyframes light{
	0%{opacity: 0.5;filter: alpha(opacity=50);}
	50%{opacity: 1;filter: alpha(opacity=100);}
	100%{opacity: 0.5;filter: alpha(opacity=50);}
}
@-ms-keyframes light{
	0%{opacity: 0.5;filter: alpha(opacity=50);}
	50%{opacity: 1;filter: alpha(opacity=100);}
	100%{opacity: 0.5;filter: alpha(opacity=50);}
}
@keyframes light{
	0%{opacity: 0.5;filter: alpha(opacity=50);}
	50%{opacity: 1;filter: alpha(opacity=100);}
	100%{opacity: 0.5;filter: alpha(opacity=50);}
}
.task-center-box h3{
	font-size: 28px;
	color: #ffef1b;
	text-shadow: 0 0 5px #fca70a;
	font-family: "BGOTHM";
	width: 100%;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.task-center-box > span{
	width: 102px;
	height: 4px;
	float: left;
	background: url(../imgs/interviewTask/img_bg2.png);
	margin: 10px 0 8px;
}
.task-center-box p{
	font-size: 32px;
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	width: 100%;
	float: left;
	text-shadow: 0 0 10px rgba(255,255,255,0.5);
}
.task-center-box .task-c-mesg{
	height: 124px;
	background: url(../imgs/interviewTask/img6.png) no-repeat;
	float: left;
	margin-top: 10px;
	padding-left: 60px;
}
.task-center-box .task-c-mesg p{
	font-size: 24px;
	width: 100%;
	line-height: 40px;
	float: left;
}
.task-saomiao{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 554px;
	height: 420px;
	overflow: hidden;
}
.task-saomiao.active{
	height: 0;
	-webkit-transition: 3s linear 0.3s;
	-moz-transition: 3s linear 0.3s;
	-ms-transition: 3s linear 0.3s;
	transition: 3s linear 0.3s;
}
.task-saomiao > img{
	width: 554px;
	height: 497px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.sapmiao-line{
	position: absolute;
	top: 190px;
	left: 177px;
	z-index: 999999;
}
.sapmiao-line.active{
	-webkit-transition: 3s linear 0.3s;
	-moz-transition: 3s linear 0.3s;
	-ms-transition: 3s linear 0.3s;
	transition: 3s linear 0.3s;
	top: 610px;
	opacity: 0;
	filter: alpha(opacity=0);
}