@import url("base.css");

body {
	background: url("../imgs/topicPlan/bg.png") top no-repeat;
	background-size: 100%;
}
#container{
	width:100%;
	height:1080px;
	background: url("../imgs/topicPlan/container.png") top no-repeat;
	overflow: hidden;
}
/*顶部标题 start*/
#top{
	font:italic bold 34px "微软雅黑";
	height: 110px;
	width:100%;
	position: relative;
}
#top .top_title{
	width:381px;
	height:87px;
	line-height:87px;
	position: absolute;
	top:20px;
	left:70px;
	color: #fff;
	text-align: center;
	background: url("../imgs/topicPlan/title.png") center no-repeat;
}
/*顶部标题 end*/
/*右侧*/
#chartPie{
	width:572px;
	height:858px;
	background: url("../imgs/topicPlan/right.png") center no-repeat;
	float: right;
	margin:40px 60px 0 0;
	padding:40px 0;
	position: relative;
}
#chartPie .view{
	width:100%;
	height:130px;
	position: relative;
	padding:0 20px 0 130px;
}
#chartPie .view .sort{
	width:54px;
	height:54px;
	line-height:54px;
	text-align: center;
	font-size:28px;
	position: absolute;
	top:32px;
	left:48px;
	background: url("../imgs/topicPlan/sort1.png") center no-repeat;
	color: #fff;
}
#chartPie .view .title{
	width:100%;
	height:62px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	padding-top:26px;
	line-height:36px;
	font-size:22px;
	font-weight:bold;
	color: #fff;
}
#chartPie .view .info{
	height:42px;
	line-height:42px;
	font-size:18px;
	color: #00ACF2;
}
#chartPie .view .info p{
	float: left;
}
#chartPie .view .info p:nth-child(1){
	width:120px;
}
#chartPie .selectedBG{
	width:560px;
	height:130px;
	position: absolute;
	top:40px;
	left:6px;
	z-index: -1;
	background: rgba(2,64,101,0.7);
	transition: top .7s;
}
#chartPie .view.selected .sort{
	background: url("../imgs/topicPlan/sort2.png") center no-repeat;
}
#chartPie .view.selected .title{
	color: #EC941F;
}
#chartPie .view.selected .info{
	color: #EC941F;
}
/*左侧*/
#dataContainer{
	width:1200px;
	height:900px;
	margin:40px 30px 0 60px;
	position: relative;
}
#dataContainer .details{
	width:1051px;
	height:780px;
	background: url("../imgs/topicPlan/card.png") center no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top:0;
	left:0;
	padding:45px;
	transition: top 1.4s, left 1.4s, transform 1.4s, opacity 1.4s;
}
#dataContainer .details.box{
	transform: scale(.75,.75);
	top:-110px;
	left:-135px;
	z-index: 1;
	opacity:.2;
	transition-delay: 0s;
}
@keyframes card1
{
	from  {
		transform: scale(.75,.75);
		top:-110px;
		left:-135px;
		opacity:.2;
	}
	to {
		transform: scale(.8,.8);
		top:-75px;
		left:-90px;
		opacity:.4;
	}
}
#dataContainer .show .details:nth-child(5){
	transform: scale(.8,.8);
	top:-75px;
	left:-90px;
	z-index: 10;
	opacity:.4;
	animation: card1 1s;
}
@keyframes card2
{
	from  {
		transform: scale(.75,.75);
		top:-110px;
		left:-135px;
		opacity:.2;
	}
	to {
		transform: scale(.85,.85);
		top:-35px;
		left:-40px;
		opacity:.6;
	}
}
#dataContainer .show .details:nth-child(4){
	transform: scale(.85,.85);
	top:-35px;
	left:-40px;
	z-index: 20;
	opacity:.6;
	transition-delay: .4s;
}
#dataContainer .show.onceshow .details:nth-child(4){
	animation: card2 1s;
}
@keyframes card3
{
	from  {
		transform: scale(.75,.75);
		top:-110px;
		left:-135px;
		opacity:.2;
	}
	to {
		transform: scale(.9,.9);
		top:5px;
		left:15px;
		opacity:.8;
	}
}
#dataContainer .show .details:nth-child(3){
	transform: scale(.9,.9);
	top:5px;
	left:15px;
	z-index: 30;
	opacity:.8;
	transition-delay: .6s;
}
#dataContainer .show.onceshow .details:nth-child(3){
	animation: card3 1s;
}
@keyframes card4
{
	from  {
		transform: scale(.75,.75);
		top:-110px;
		left:-135px;
		opacity:.2;
	}
	to {
		transform: scale(.95,.95);
		top:50px;
		left:80px;
		opacity:.9;
	}
}
#dataContainer .show .details:nth-child(2){
	transform: scale(.95,.95);
	top:50px;
	left:80px;
	z-index: 40;
	opacity:.9;
	transition-delay: .8s;
}
#dataContainer .show.onceshow .details:nth-child(2){
	animation: card4 1s;
}
@keyframes card5
{
	from  {
		transform: scale(.75,.75);
		top:-110px;
		left:-135px;
		opacity:.2;
	}
	to {
		transform: scale(1,1);
		top:100px;
		left:150px;
		opacity:1;
	}
}
#dataContainer .show .details:nth-child(1){
	transform: scale(1,1);
	top:100px;
	left:150px;
	z-index: 50;
	opacity:1;
	transition-delay: 1s;
}
#dataContainer .show.onceshow .details:nth-child(1){
	animation: card5 1s;
}
@keyframes card6
{
	0%  {
		transform: scale(1,1);
		top:100px;
		left:150px;
		opacity:1;
	}
	60%  {
		transform: scale(.7,.7);
		top:-160px;
		left:-190px;
		opacity:.4;
	}
	100% {
		transform: scale(.75,.75);
		top:-110px;
		left:-135px;
		opacity:0;
	}
}
#dataContainer .show .details:nth-child(6){
	transform: scale(.7,.7);
	top:100px;
	left:150px;
	opacity:0;
	z-index: 51;
	animation: card6 1s;
}
.details h3.title{
	width:100%;
	height:120px;
	line-height:120px;
	text-align: center;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	font-size:40px;
	font-weight:bold;
	color: #27D4FE;
	position: relative;
}
.details h3.title .marker{
	width:140px;
	height:50px;
	line-height:50px;
	position: absolute;
	top:3px;
	right:8px;
	font-size:22px;
	font-weight:bold;
	color: #fff;
}
.details p.content{
	width:100%;
	height:444px;
	padding:70px;
	overflow: hidden;
	font-size:26px;
	line-height:40px;
	color: #fff;
}
.details div.info{
	width:100%;
	height:100px;
	line-height:100px;
	padding-left:20px;
}
.details div.info p{
	float: left;
	margin-right:20px;
	font-size:24px;
	color: #fff;
}
.details div.info p>span{
	font-size:30px;
	color: #00B4FF;
	margin:0 16px;
}
.details div.info p:nth-child(3){
	width:220px;
	height:100px;
	line-height:100px;
	margin-right:50px;
	float: right;
}
.details div.info p:nth-child(3)>span{
	display: block;
	float: left;
	width:60px;
	height:60px;
	margin:20px 6px;
	font-size:16px;
	line-height:60px;
	text-align: center;
	border-radius: 30px;
	color: #fff;
	background: #00B4FF;
}
.details div.info p:nth-child(3)>span.from{
	background: #EC931F;
}