<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>互联网线索汇聚</title>
    <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/clue.css">
</head>
<body>
<div id="container">
    <!--顶部标题-->
    <div id="top">
        <div class="top_title">
            {{title}}
        </div>
    </div>
    <!--左侧按钮组-->
    <div id="btnList">
        <div v-for="(b,index) in btn" class="btn">
            <div class="filter"></div>
            <div class="sort">{{index+1}}</div>
            <div class="btn_info">
                <h3 class="btn_title">{{b.title}}</h3>
                <p>
                    <i class="glyphicon glyphicon-user"></i>
                    作者：<span class="btn_name">{{b.name}}</span>
                    <i class="glyphicon glyphicon-time"></i>
                    发布时间：<span class="btn_time">{{b.time}}</span>
                </p>
            </div>
        </div>
        <div id="btnSelected"></div>
    </div>
    <!--右侧详细内容-->
    <div id="dataContainer">
        <div v-for="d in details" class="detailsContainer">
            <div class="details_info">
                <h3 class="details_title">{{d.title}}</h3>
                <p>
                    <i class="glyphicon glyphicon-user"></i>
                    作者：<span class="details_name">{{d.name}}</span>
                    <i class="glyphicon glyphicon-time"></i>
                    发布时间：<span class="details_time">{{d.time}}</span>
                </p>
            </div>
            <div class="auto">
                <p class="content"><b>摘要：</b>{{d.content}}</p>
                <div class="imgs">
                    <img v-bind:src=d.picUrl alt="">
                </div>
                <p class="fullText" v-html="d.fullText"></p>
            </div>
        </div>
    </div>
</div>


<script src="../static/lib/jquery-3.1.0.min.js"></script>
<script src="../static/lib/vue.js"></script>
<script src="../static/lib/vue-resource.js"></script>
<script src="../static/json/clueJson.js"></script>
<script src="../static/json/HTTPNAME.js"></script>
<script src="../static/js/clue.js"></script>
</body>
</html>