<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实时热点</title>
    <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/gis.css">
</head>
<body>
<!--顶部-->
<div id="top">
   <div class="top_title">{{title}}</div>
</div>
<!--选项卡-->
<!--<ul id="myTab" class="nav nav-tabs">-->
    <!--<div id="huakuai"></div>-->
    <!--<li class="active"><a href="#news" data-toggle="tab">热点新闻</a></li>-->
    <!--<li><a href="#gis" data-toggle="tab">GIS地图</a></li>-->
<!--</ul>-->

<!--选项卡内容-->
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="news">
        <div id="china"></div>
        <div id="news_list">
            <div class="news">
                <div class="selected"></div>
                <div class="beSelected">
                    <div v-for="li in list" class="list">
                        <p class="title">
                            <i></i>
                            {{li.title}}
                        </p>
                        <p class="info">
                            <i class="glyphicon glyphicon-time"></i>
                            <span class="time">时间：{{li.time}}</span>
                            <i class="glyphicon glyphicon-map-marker"></i>
                            <span class="loc">地点：{{li.loc}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="tab-pane fade" id="gis">-->
        <!--<iframe width="1920" height="930" src="http://cloud.hnxwlb.net:8080/MHQ/zhihui/modules/maps/index4.html"></iframe>-->
    <!--</div>-->
</div>
    <script src="../static/lib/jquery-3.1.0.min.js"></script>
    <script src="../static/lib/vue.js"></script>
    <script src="../static/lib/vue-resource.js"></script>
    <script src="../static/lib/bootstrap/js/bootstrap.js"></script>
    <script src="../static/lib/echarts-3.0.min.js"></script>
    <script src="../static/lib/china.js"></script>
    <script src="../static/json/gisJson.js"></script>
<script src="../static/json/HTTPNAME.js"></script>
    <script src="../static/js/gis.js"></script>
</body>
</html>