<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
	<meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>采访任务</title>
    <link rel="stylesheet" type="text/css" href="../static/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/interviewTask.css"/>
</head>
<body>
	<!-- header -->
	<div class="section header"><h1>采访任务</h1></div>
	<div class="section container">
		<!-- 任务进度 -->
		<div class="section task-schedule">
			<span class="schedule-move"><img src="../static/imgs/interviewTask/move.png"/></span>
			<span class="line-bg"><img src="../static/imgs/interviewTask/img1.png"></span>
			<div class="section schedule-box" :class="{active:taskList.type==1}">
				<h2>创建任务</h2>
				<p>
					<span>{{taskList.name}}</span>
					<span>{{taskList.time}}</span>
				</p>
			</div>
			<div class="section schedule-box" v-for="(item,index) of taskList.schedule" :class="{active:taskList.type==(index+2)}">
				<h2>{{item.type}}</h2>
				<p>
					<span>{{item.name}}</span>
					<span>{{item.time}}</span>
				</p>
				<div class="section task-img" v-if="!item.imgArray==[]">
					<img :src="img" v-for="img of item.imgArray"/>
				</div>
			</div>
		</div>
		<!-- 任务转盘 -->
		<div class="section task-turntable">
			<div class="liuxing"><img src="../static/imgs/interviewTask/img3.png"></div>
			<div class="liuxing"><img src="../static/imgs/interviewTask/img3.png"></div>
			<div class="liuxing"><img src="../static/imgs/interviewTask/img3.png"></div>
			<div class="turn-light">
				<img src="../static/imgs/interviewTask/img2_1.png">
			</div>
			<div class="sapmiao-line"><img src="../static/imgs/interviewTask/img5.png"></div>
			<div class="task-center">
				<div class="task-saomiao"><img src="../static/imgs/interviewTask/after.png"></div>
				<div class="task-center-box">
					<h3>{{taskList.title}}</h3>
					<span></span>
					<p>{{taskList.content}}</p>
					<div class="task-c-mesg">
						<p>{{taskList.name}}</p>
						<p>{{taskList.time}}</p>
						<p>{{taskList.address}}</p>
					</div>
				</div>
			</div>
			<div class="task-turn active"></div>
			<div class="task-box">
				<div class="turntable-box" v-for="item of taskData" v-bind:data-id="item.id" v-bind:class="{active:item.id==6}"><div class="section turntable-txt">
					<h3>{{item.title}}</h3>
					<span></span>
					<p class="turntable-p">{{item.content}}</p>
					<div class="section turntable-mesg">
						<p>{{item.name}}</p>
						<p>{{item.time}}</p>
						<p>{{item.address}}</p>
					</div>
				</div></div>
			</div>
		</div>
	</div>

<script type="text/javascript" src="../static/lib/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="../static/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/lib/vue.js"></script>
<script type="text/javascript" src="../static/lib/vue-resource.js"></script>
<script type="text/javascript" src="../static/json/interviewTaskJson.js"></script>
	<script src="../static/json/HTTPNAME.js"></script>
<script type="text/javascript" src="../static/js/interviewTask.js"></script>
</body>
</html>