<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>串联单任务监看</title>
    <link rel="stylesheet" href="../static/css/task.css">
    <link rel="stylesheet" href="../static/lib/dropkick/css/dropkick.css">
    <link rel="stylesheet" href="../static/lib/datatimedropper/datedropper.css">
</head>
<body>
<div id="container">
    <!--顶部标题-->
    <div v-cloak id="top">
        <div class="top_title">
            {{title}}
        </div>
    </div>
    <!--选择日期和栏目-->
    <div class="time">
        <div v-once id="time_dropper">
            <p><input type="text" class="input" id="pickdate" placeholder="2017-9-11" v-model="chooseTime" ref="newTime" /></p>
        </div>
        <div id="search" v-on:click="getNewPrograms()">查询</div>
    </div>
    <div id="lanmu">
        <span class="dk_wrap">
            <select id="lanmu_choose" name="country-wrap" class="default" v-model="selectedProgram" ref="newProgram">
                <option v-for="p in programs" v-bind:value=p.uid>{{p.name}}</option>
            </select>
        </span>
    </div>
    <!--表格内容-->
    <div id="taskTable">
        <div v-once id="table_head">
            <div class="td td1">{{thead.td1}}</div>
            <div class="td td2">{{thead.td2}}</div>
            <div class="td td3">{{thead.td3}}</div>
            <div class="td td4">{{thead.td4}}</div>
            <div class="td td5">{{thead.td5}}</div>
            <div class="td td6">{{thead.td6}}</div>
            <div class="td td7">{{thead.td7}}</div>
        </div>
        <div id="table_body">
            <div v-for="tr in list" class="tr">
                <div class="td td1">
                    <span>{{tr.td1}}</span>
                </div>
                <div class="td td2">{{tr.td2}}</div>
                <div class="td td3">{{tr.td3}}</div>
                <div class="td td4">{{selectedProgramName}}</div>
                <div class="td td5">{{tr.td5}}</div>
                <div class="td td6">
                    <ul class="process docProcess">
                        <li v-for="p in docProcessArr" v-bind:class="{active: tr.docProcess >= p.uid}">
                            <p class="up"><span class="circle"></span></p>
                            <p class="down">{{p.name}}</p>
                        </li>
                    </ul>
                    <div class="processContainer1">
                        <div class="huakuai" v-bind:class='"process"+tr.docProcess'></div>
                    </div>
                </div>
                <div class="td td7">
                    <ul class="process">
                        <li v-for="p in processArr" v-bind:class="{active: tr.process >= p.uid}">
                            <p class="up"><span class="circle"></span></p>
                            <p class="down">{{p.name}}</p>
                        </li>
                    </ul>
                    <div class="processContainer2">
                        <div class="huakuai" v-bind:class='"process"+tr.process'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--选择框-->
    <div id="selected">
        <div v-for="u in ImgsUrls" class="selectedImg">
            <img v-bind:src=u alt=""/>
        </div>
    </div>
</div>


<script src="../static/lib/jquery-3.1.0.min.js"></script>
<script src="../static/lib/vue.js"></script>
<script src="../static/lib/vue-resource.js"></script>
<script src="../static/lib/dropkick/dropkick.js"></script>
<script src="../static/lib/datatimedropper/datedropper.min.js"></script>
<script src="../static/json/taskJson.js"></script>
<script src="../static/json/HTTPNAME.js"></script>
<script src="../static/js/task.js"></script>
<script src="../static/js/websocket.js"></script>
</body>
</html>