<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>选题策划</title>
	<link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/topicPlan.css">
</head>
<body>
<div id="container">
	<!--顶部标题-->
	<div id="top">
		<div class="top_title">
			{{title}}
		</div>
	</div>
	<!--右侧概览-->
	<div id="chartPie">
		<div v-for="(info,index) in taskList" class="view" v-bind:class="{'selected':index===0}">
			<div class="sort">{{index+1}}</div>
			<h3 class="title">{{info.title}}</h3>
			<div class="info">
				<p>{{info.name}}</p>
				<p>{{info.time}}</p>
			</div>
		</div>
		<div class="selectedBG"></div>
	</div>
	<!--左侧详细内容-->
	<div id="dataContainer">
		<div class="box details"></div>
		<div class="show onceshow">
			<div v-for="(details,index) in taskList" class="details" v-bind:class="{'pass':details.type.type1===0,'edit':details.type.type1===1,'back':details.type.type1===-1,'wait':details.type.type1===2,'finish':details.status===3}">
				<h3 class="title">
					{{details.title}}
					<div class="marker">
						{{ details.type.type1===0 ? '通过' : '' }}
						{{ details.type.type1===1 ? '编辑' : '' }}
						{{ details.type.type1===2 ? '待审' : '' }}
						{{ details.type.type1===-1 ? '退回' : '' }}
						{{ details.type.type1===3 ? '已指派' : '' }}
					</div>
				</h3>
				<p class="content">{{details.content}}</p>
				<div class="info">
					<p><span class="glyphicon glyphicon-user"></span>{{details.name}}</p>
					<p><span class="glyphicon glyphicon-time"></span>{{details.time}}</p>
					<p>
						<span v-bind:class="{'from':details.type.type2}">采访</span>
						<span v-bind:class="{'from':details.type.type3}">电视</span>
						<span v-bind:class="{'from':details.type.type4}">互联网</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>


<script src="../static/lib/jquery-3.1.0.min.js"></script>
<script src="../static/lib/vue.js"></script>
<script src="../static/lib/vue-resource.js"></script>
<script src="../static/json/topicPlanJson.js"></script>
<script src="../static/json/HTTPNAME.js"></script>
<script src="../static/js/topicPlan.js"></script>
</body>